<div class="container mt-3">
    <p-toast></p-toast>

    <div class="alldiv">
        <section class="barra border p-3">
            <div class="me-3">
                <p class="textcolorcorp">Filtros de busqueda</p>
                <p class="mt-1">Auditoria:</p>
                <div class="p-fluid">
                    <p-multiSelect [(ngModel)]="auditoria" [options]="auditorias"
                                   inputId="local"
                                   optionLabel="nombre" placeholder="Selecione auditorias"></p-multiSelect>
                </div>
                <p class="mt-1">Fecha inicio:</p>
                <div class="p-fluid">
                    <p-calendar [(ngModel)]="finicio" ></p-calendar>
                </div>
                <p class="mt-1">Fecha fin:</p>
                <div class="p-fluid">
                    <p-calendar [(ngModel)]="ffin" ></p-calendar>
                </div>
                <div class="mt-2 d-flex flex-row-reverse bloquefiltro">
                    <button class="btn btn-danger" (click)="doSearch()">Buscar</button>
                </div>
            </div>
        </section>
        <section class="main ps-2">
            <p class="textcolorcorp">Listado de auditorias</p>
            <div>
                <p-table [value]="auditoriasTabla" [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template pTemplate="header">
                        <tr>
                            <th></th>
                            <th>N</th>
                            <th>Codigo</th>
                            <th>Descripcion</th>
                            <th>Tipo</th>
                            <th>Estado</th>
                            <th>Fecha inicio</th>
                            <th>Fecha fin</th>
                            <th>Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-tarea let-rowIndex="rowIndex">
                        <tr [style.background-color]="rowIndex+1 == 1 ? 'green' : 'white'">
                            <td><p-checkbox name="tareasgrupo" [binary]="true" [(ngModel)]="auditoriasTabla"></p-checkbox></td>
                            <td>{{ rowIndex+1 }}</td>
                            <td>{{ tarea.codigo }}</td>
                            <td>{{ tarea.descripcion }}</td>
                            <td>{{ tarea.tipo }}</td>
                            <td>{{ tarea.estado }}</td>
                            <td>{{ tarea.finicio }}</td>
                            <td>{{ tarea.ffin }}</td>
                            <td class="d-flex">
                                <button class="btn btn-sm btn-outline-danger" (click)="gotoEdit()">
                                    <i class="fa-solid fa-eye"></i>
                                </button>
                                <button class="btn btn-sm btn-outline-danger" (click)="gotoEdit()">
                                    <i class="fa-solid fa-edit"></i>
                                </button>
                                <button class="btn btn-sm btn-outline-danger" (click)="gotoEdit()">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </section>
    </div>
</div>
