<div class="container mt-3">
    <p-toast></p-toast>

    <div class="alldiv">
        <section class="barra border p-3">
            <div class="me-3">
                <p class="textcolorcorp">Filtros de busqueda</p>
                <p class="mt-1">Locales:</p>
                <div class="p-fluid">
                    <p-multiSelect [(ngModel)]="local" [options]="locales"
                                   inputId="local"
                                   optionLabel="nombre" placeholder="Selecione locales"></p-multiSelect>
                </div>
                <p class="mt-1">Auditoria:</p>
                <div class="p-fluid">
                    <p-multiSelect [(ngModel)]="auditoria" [options]="auditorias"
                                   inputId="local"
                                   optionLabel="nombre" placeholder="Selecione auditorias"></p-multiSelect>
                </div>
                <p class="mt-1">Factura:</p>
                <div class="p-fluid">
                    <input type="text" class="form-control" [(ngModel)]="factura" />
                </div>
                <p class="mt-1">Fecha inicio:</p>
                <div class="p-fluid">
                    <p-calendar [(ngModel)]="finicio" ></p-calendar>
                </div>
                <p class="mt-1">Fecha fin:</p>
                <div class="p-fluid">
                    <p-calendar [(ngModel)]="ffin" ></p-calendar>
                </div>
                <p class="mt-1">Shopper:</p>
                <div class="p-fluid">
                    <p-multiSelect [(ngModel)]="shopper" [options]="shoppers"
                                   inputId="shopper"
                                   optionLabel="nombre" placeholder="Selecione shoppers"></p-multiSelect>
                </div>
                <div class="mt-2 d-flex flex-row-reverse bloquefiltro">
                    <button class="btn btn-danger" (click)="doSearch()">Buscar</button>
                </div>
            </div>
        </section>
        <section class="main ps-2">
            <p class="textcolorcorp">Listado de auditorias</p>
            <div>
                <p-table [value]="auditoriasTabla" [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template pTemplate="header">
                        <tr>
                            <th></th>
                            <th>N</th>
                            <th>Factura</th>
                            <th>Local</th>
                            <th>Auditoria</th>
                            <th>Shopper</th>
                            <th>Fecha compra</th>
                            <th>Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-tarea let-rowIndex="rowIndex">
                        <tr>
                            <td><p-checkbox name="tareasgrupo" [binary]="true" [(ngModel)]="auditoriasTabla"></p-checkbox></td>
                            <td>{{ rowIndex+1 }}</td>
                            <td>{{ tarea.factura }}</td>
                            <td>{{ tarea.local }}</td>
                            <td>{{ tarea.auditoria }}</td>
                            <td>{{ tarea.shopper }}</td>
                            <td>{{ tarea.fechacompra }}</td>
                            <td class="d-flex">
                                <button class="btn btn-sm btn-outline-danger" (click)="gotoEdit()">
                                    <i class="fa-solid fa-eye"></i>
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </section>
    </div>
</div>
